* {
  font-family: "Poppins", sans-serif;
  width: 100%;
  
  margin: 0;
  padding: 0;
}
/*first part*/
.head-part {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
}
.web-name {
  font-size: 15px;
  font-weight: 200;
}
.navbar a {
  text-decoration: none;
  justify-content: space-between;
  padding: 10px;
  color: rgb(22, 22, 22);
  /*first part end*/

  /*main part*/
}
.main-part {
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.main-text {
  padding-top: 50px;
  font-size: 25px;
  color: rgb(28, 28, 28);
}
.main-text p {
  font-size: 13px;
}
.main-text p a {
  text-decoration: none;
  border: 1px solid rgb(255, 0, 111);
  background-color: rgb(255, 0, 76);
  border-radius: 5px;
}
/*main part end*/

/*column  part start*/
.products{
    padding-top: 120px;
}
#head-text{
    width: 40%;
    padding-left: 39%;
    width: 70%;
  
}
.products h3 {
    padding-left: 10px;
}
.grid-coulmn {
    padding-top: 50px;
  width: 70%;
  
padding-left: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
grid-gap: 45px;
}
.grid{
    width: 230px;
    height: 320px;
    background-color: rgb(237, 237, 237);
    padding: 2px;
   
    border-radius: 10px;
    
}
.grid span{
   font-size: 9px;
  
}
#star{
    color: orange;
    display: flex;
    width: 50px;
}
.grid p{
    padding-left: 10px;
    font-size: 12px;
}
#rating{
    margin: 8px;
    color: black;
    font-size: 1.2em;
}#blank{
    color: rgb(206, 186, 186);
}

/*column part end*/
